.request-form {
    padding: 20px;
}

.request-form-group {
    width: 100%;
}

.request-form-field {
    min-width: 100%;
}

.request-for-button {
    margin-bottom: 15px;
}

.request-form-actions {
    padding: 20px;
}