/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */

html,
body {
    height: 100%;
    background-color: #f1f1f1;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}