<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" class="intent-container">
  <button mat-raised-button color="primary" class="intent-card" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../assets/images/donate.png" width="120" />
    <div class="intent-card-content">
      DONATE
    </div>
  </button>
  <button mat-raised-button color="primary" class="intent-card" fxLayout="column" fxLayoutAlign="center center" [routerLink]="['request']">
    <img src="../../assets/images/receive.png" width="120" />
    <div class="intent-card-content">
      REQUEST
    </div>
  </button>
</div>