.svg-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.svg-icon-large {
    width: 6em;
    height: 6em;
    animation-duration: 6000ms;
    animation-name: spinLeft;
}

.svg-icon-small {
    width: 4em;
    height: 4em;
    position: absolute;
    margin-left: -15px;
    margin-top: -25px;
    animation-duration: 4000ms;
    animation-name: spinRight;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #CCCCCC;
}

.svg-icon-small path {
    stroke: #CCCCCC;
    stroke-width: .3;
}

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}